<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <!-- 声明注册servlet -->
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.ghb.web.servlet.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.ghb.web.servlet.FirstServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>CharacterFilter</filter-name>
        <filter-class>com.ghb.web.servlet.filter.CharacterFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>

    <!-- 定义访问servlet的url -->
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>CharacterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>
